<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace site=JanScholz\CleanBlog\ViewHelpers}
<html lang="en" xmlns:f="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <f:section name="stylesheets">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link id="js-bootstrap-css" rel="stylesheet" href="{f:uri.resource(path: 'Styles/Default/bootstrap.min.css', package: 'JanScholz.NeosBootstrap')}" media="all" />

        <f:if condition="{neos:rendering.inBackend()}">
            <f:then>
                <!-- Neos Backend CSS -->
                <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Default/backend.css', package: 'JanScholz.NeosBootstrap')}" media="all" />
            </f:then>
        </f:if>

        <!-- Custom CSS -->
        <link href="{f:uri.resource(path: 'Styles/clean-blog.css', package: 'JanScholz.CleanBlog')}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    </f:section>


    <f:section name="headScripts">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </f:section>

</head>

<body>
<f:section name="body">
    <!-- Navigation -->
    <nav class="top-navigation-wrap navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {parts.menu -> f:format.raw()}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    {parts.header -> f:format.raw()}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {content.main -> f:format.raw()}

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {parts.footer -> f:format.raw()}

    <f:section name="bodyScripts">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
                crossorigin="anonymous"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{f:uri.resource(path: 'JavaScript/bootstrap.min.js', package: 'JanScholz.NeosBootstrap')}"></script>

        <f:if condition="{neos:rendering.inBackend()}">
            <f:then>
                <!-- Neos Backend JavaScript -->
                <script src="{f:uri.resource(path: 'JavaScript/backend.js', package: 'JanScholz.NeosBootstrap')}"></script>
            </f:then>
        </f:if>

        <!-- Custom Theme JavaScript -->
        <!--<script src="{f:uri.resource(path: 'JavaScript/clean-blog.js', package: 'JanScholz.CleanBlog')}"></script>-->
    </f:section>

</f:section>
</body>

</html>
