{namespace neos=TYPO3\Neos\ViewHelpers}
<f:for each="{items}" as="item">
    <div class="post-preview">
        <neos:link.node node="{item}">
            <h2 class="post-title">
                {item.nodeData.properties.headline}
            </h2>
            <h3 class="post-subtitle">
                {item.nodeData.properties.subheadline}
            </h3>
            </a>
        </neos:link.node>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
    </div>
    <hr>
</f:for>